<footer class="footer">
  <nav>
    <ul class="press">
      <li class="press__item">Articles</li>
      <li class="press__item">Books</li>
      <li class="press__item">Events</li>
      <li class="press__item">Reasons</li>
      <li class="press__item">Tips</li>
    </ul>
    <ul class="social">
      <li class="social__item">Twitter</li>
      <li class="social__item">Instagram</li>
      <li class="social__item">Mastodon.social</li>
    </ul>
  </nav>
  <small class="copy">&copy; 2021 we love components</small>
</footer>
