<footer class="footer">
  <a href="./index.html#top" class="scroll-up-link">
    <img
      src="./assets/images/ico-arrow.svg"
      alt="Scroll up icon"
      class="scroll-up-icon"
    />
  </a>
  <div class="footer__info">
    <nav class="nav-press">
      <ul class="press">
        <li class="press__item">
          <a class="press__item--link" href="https://adalab.es/">Articles</a>
        </li>
        <li class="press__item">
          <a class="press__item--link" href="https://adalab.es/">Books</a>
        </li>
        <li class="press__item">
          <a class="press__item--link" href="https://adalab.es/">Events</a>
        </li>
        <li class="press__item">
          <a class="press__item--link" href="https://adalab.es/">Reasons</a>
        </li>
        <li class="press__item">
          <a class="press__item--link" href="https://adalab.es/">Tips</a>
        </li>
      </nav>
      <nav class="nav-social">
      </ul>
      <ul class="social">
        <li class="social__item">
          <a class="social__item--link" href="https://adalab.es/">Twitter</a>
        </li>
        <li class="social__item">
          <a class="social__item--link" href="https://adalab.es/">Instagram</a>
        </li>
        <li class="social__item">
          <a class="social__item--link" href="https://adalab.es/"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <p class="copy">
      <small class="copy__year">&copy; 2021 </small>
      <small class="copy__claim"> we <span class="copy__claim--heart">❤</span> components </small>
    </p>
  </div>
</footer>
