<header class="header hero" id="top">
  <nav class="hero__nav">
    <a href="https://adalab.es/" class="hero__menu" target="_blank">
      <img
        class="hero__menu--icon"
        src="./assets/images/ico-menu.svg"
        alt="Content menu"
      />
    </a>
  </nav>
  <h1 class="hero__title">Anonymous proxy</h1>
  <p class="hero__subtitle">In hac habitasse platea dictumst.</p>
  <a href="./index.html#3-reasons" class="scroll-down-link">
    <img
      src="./assets/images/ico-scroll-down.svg"
      alt="Scroll down arrow"
      class="scroll-down-icon"
    />
  </a>
</header>
