<main class="main">
  <section class="white container">
    <small class="white__small">Insomnia tips</small>
    <h2 class="white__title">Looking through a window</h2>
    <p class="white__text">
      Donec accumsan, nulla ut volupat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="white__btn">Go</button>
  </section>
  <section class="blue" id="3-reasons">
    <div class="blue__grid container">
      <h2 class="blue__grid--title">3 reasons to purchase</h2>
      <include
        src="./reasons.html"
        title="Ut sed metus"
        text="Lorem ipsum dolor sit amet, consecteur."
      ></include>
      <include
        src="./reasons.html"
        title="Curabitur ac erat"
        text="Mauris mattis urna quis lorem molestie."
      ></include>
      <include
        src="./reasons.html"
        title="Morbi dictum"
        text="Aliquam in dolor et dolor tincidunt."
      ></include>
      <button class="blue__grid--btn">More reasons</button>
    </div>
  </section>
</main>
