:root {
  font-size: 10px;
  font-family: $textFont;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none; /* Para eliminar el efecto de rebote al llegar a la parte superior o inferior de la página*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: $textFont;
}
