.footer {
  background-color: $darkBlue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 39px;
    }
    @include desktop {
      width: 540px;
    }
  }
}

.scroll-up-link {
  visibility: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: 4s ease infinite scrollUp;

  @include tablet {
    visibility: visible;
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  20% {
    transform: translateY(-50%) rotate(370deg);
  }
  30% {
    transform: translateY(-50%) rotate(360deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}

.nav-press,
.nav-social,
.copy {
  width: 100%;
  @include tablet {
    width: 30%;
  }
  @include desktop {
    width: 160px;
  }
}

.press {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding: 15px 0;
  @include tablet {
    align-items: flex-start;
  }
  &__item {
    font-size: 1.6rem;
    text-transform: uppercase;
    &--link {
      color: white;
      padding: 5px;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding: 15px 0;
  @include tablet {
    align-items: flex-start;
  }
  &__item {
    font-size: 1.6rem;
    text-transform: uppercase;
    &--link {
      color: white;
      padding: 5px;
    }
  }
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    align-items: flex-start;
    order: -1;
  }
  &__year {
    order: 1;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-top: 15px;
  }
  &__claim {
    font-size: 1.4rem;
    line-height: 3rem;
    margin-bottom: 15px;
    &--heart {
      color: $brightOrange;
    }
  }
}
