.container {
  padding: 0 15px;

  @include tablet {
    padding: 0 39px;
  }

  @include desktop {
    padding: 0 275px;
  }
}

.white {
  display: flex;
  flex-direction: column;
  &__small {
    color: $lightBlue;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 20px;
    padding: 10px 0;
    @include desktop {
      font-size: 1.6rem;
    }
  }
  &__title {
    font-family: $titleFont;
    font-size: 2.4rem;
    text-transform: capitalize;
    @include tablet {
      font-size: 2.6rem;
    }
    @include desktop {
      font-size: 3.2rem;
    }
  }
  &__text {
    color: $greyishBrown;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 10px 0;
    @include tablet {
      font-size: 2rem;
      padding: 30px 0;
    }
  }

  &__btn {
    width: 76px;
    height: 45px;
    background-color: white;
    color: $brightOrange;
    border: solid $brightOrange 2px;
    border-radius: 22.5px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 2rem;
    transition: background-color ease 0.2s, color ease 0.2s, transform ease 0.2s;
    &:hover {
      background-color: $brightOrange;
      color: white;
      transform: translateY(-2px) scale(1.05);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    @include tablet {
      width: 91px;
      margin-top: 0px;
      margin-bottom: 60px;
    }
    @include desktop {
      width: 160px;
    }
  }
}

.blue {
  background-color: $iceBlue;
  display: grid;
  grid-template-columns: 53px 1fr 53px;
  text-align: center;
  @include tablet {
    padding: 0 39px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 28px;
  }
  @include desktop {
    padding: 30px 80px 0 80px;
  }
  &__title {
    grid-column: 1/4;
    height: 30px;
    font-family: $titleFont;
    font-size: 2.4rem;
    text-transform: capitalize;
    margin: 30px 0;
    @include tablet {
      font-size: 2.6rem;
    }
    @include desktop {
      font-size: 3.2rem;
    }
  }
  &__btn {
    grid-column: 2/3;

    width: 176px;
    height: 45px;
    background-color: white;
    color: $brightOrange;
    border: solid $brightOrange 2px;
    border-radius: 22.5px;
    padding: 0 15px;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 2rem;

    transition: transform ease 0.2s, box-shadow ease 0.2s;
    &:hover {
      transform: translateY(-2px) scale(1.05);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    @include tablet {
      grid-column: 2/3;
      margin-top: 30px;
    }
  }
}

.reasons {
  grid-column: 2/3;
  padding: 15px 0 30px 0;
  &__title {
    grid-column: 2/3;
    font-family: $titleFont;
    font-size: 1.8rem;
    line-height: 3rem;
    @include tablet {
      font-size: 2.4rem;
      padding-bottom: 14px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    @include tablet {
      font-size: 2rem;
    }
  }
}

@include tablet {
  .reason1 {
    grid-column: 1/2;
  }
  .reason2 {
    grid-column: 2/3;
  }
  .reason3 {
    grid-column: 3/4;
  }
}
