.white {
  display: flex;
  flex-direction: column;
  &__small {
    color: $lightBlue;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 20px;
    padding: 10px 0;
  }
  &__title {
    font-family: $titleFont;
    font-size: 2.4rem;
    text-transform: capitalize;
    @media (min-width: 768px) {
      font-size: 2.6rem;
    }
  }
  &__text {
    color: $greyishBrown;
    font-size: 1.8rem;
    line-height: 3rem;
    padding: 10px 0;
    @media (min-width: 768px) {
      font-size: 2rem;
      padding: 30px 0;
    }
  }

  &__btn {
    width: 76px;
    height: 45px;
    background-color: white;
    color: $brightOrange;
    border: solid $brightOrange 2px;
    border-radius: 22.5px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 2rem;

    @media (min-width: 768px) {
      margin-top: 0px;
      margin-bottom: 60px;
    }
  }
}

.blue {
  background-color: $iceBlue;
  text-align: center;
  &__grid {
    display: grid;
    grid-template-columns: 53px 1fr 53px;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 28px;
    }
    &--title {
      grid-column: 1/4;
      height: 30px;
      font-family: $titleFont;
      font-size: 2.4rem;
      text-transform: capitalize;
      margin: 30px 0;
      @media (min-width: 768px) {
        font-size: 2.6rem;
      }
    }
    &--btn {
      grid-column: 2/3;
      background-color: $brightOrange;
      color: white;
      border: 0px;
      border-radius: 22.5px;
      height: 45px;
      font-size: 2rem;
      margin-bottom: 60px;
      @media (min-width: 768px) {
        grid-column: 2/3;
        margin-top: 30px;
      }
    }
  }
}

.reasons {
  grid-column: 2/3;
  padding: 15px 0 30px 0;
  &__title {
    grid-column: 2/3;
    font-family: $titleFont;
    font-size: 1.8rem;
    line-height: 3rem;
    @media (min-width: 768px) {
      font-size: 2.4rem;
      padding-bottom: 14px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .reason1 {
    grid-column: 1/2;
  }
  .reason2 {
    grid-column: 2/3;
  }
  .reason3 {
    grid-column: 3/4;
  }
}
